*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}
section{
    margin:100px 0px;
    min-height: 700px;

}
section h1{
    text-align: center;
    font-size: 90px;
    margin: 20px;
    margin-bottom: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    z-index: 1000; 
}

.logo {
    font-size: 22px;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px #00ffee;
    color: #00ffee;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-icon {
    display: none; 
    font-size: 28px;
    cursor: pointer;
    color: white; 
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto; 
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 7px 0px;
}

nav ul li a i {
    font-size: 16px;
    color: white;
}

.block {
    min-height: 400px;
    padding-top: 100px; 
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(48, 48, 48, 0.99);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

nav ul.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    flex-direction: column;
    padding: 10px;
}

nav ul li {
    padding: 10px 0;
    text-align: center;
}




.profile-section {
    background-color: black;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px 0;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left; 
    width: 90%;
    max-width: 1200px;
}

.profile-details {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 40px; 
}

.profile-image img {
    width: 283px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-details h1 {
    font-size: 51px;
    margin: 20px 0 10px;
    color: white;
}

.profile-details p {
    font-size: 24px;
    color: #00ffee;;
    text-align: center;
}
.profile-buttons{
    display: flex;
    flex-direction: column;
}
.profile-buttons a {
    margin: 25px 10px;
    background-color: #00ffee;
    color: black;
    padding: 14px;
    border-radius: 33px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

.social-links a{
    margin: 12px 10px;
    background-color:transparent;
    color: #00ffee;
    border: 2px solid;
    padding: 8px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 30px;
}

.hard-skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.hard-skills h2{
    color: #00ffee;
    margin: 30px 0px;
    font-size: 30px;
}
.hard-skills ul li{
    text-decoration: none;
    list-style: none;
    background-color: rgb(32, 32, 32);
    padding: 30px;
    margin: 0px;
    border-radius: 30px;
    min-width: 464px;
    text-align: center;
    font-size: 20px;



}
.hard-skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    margin-top: 30px;
    

}

.soft-skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.soft-skills h2{
    color: #00ffee;
    margin: 20px 0px;
    font-size: 30px;
    margin-top: 50px;
}
.soft-skills ul li{
    text-decoration: none;
    list-style: none;
    background-color: rgb(32, 32, 32);
    padding: 30px;
    margin: 0px;
    border-radius: 30px;
    min-width: 464px;
    text-align: center;
    font-size: 20px;


}
.soft-skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    margin-top: 30px;
    

}



.projects-section {
    text-align: center;
}



.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 40px; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.project {
    background-color: #303030;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project-details {
    text-align: center;
    margin-bottom: 20px;
    flex-grow: 1; 
}

.project-details h3 {
    font-size: 22px;
    color: #00ffee;
    text-decoration: none;
    margin-bottom: 10px;
}

.project-details h4 {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.project-link {
    text-decoration: none;
    color: inherit;
}

.project-img img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.video-section {
    padding: 50px 20px;
    text-align: center;
}

.video-section h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
    padding: 0;
}

.video-container video {
    width: 100%;  
    height: 500px; 
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}




.achievements-section {
    padding: 50px 20px;
    text-align: center;
}

.achievements-section h1 {
    font-size: 50px;
    margin-bottom: 40px;
    color: white;
}

.achievements-container, .certifications-container, .trainings-container {
    margin-bottom: 40px;
}

.awards-list, .certifications-list, .trainings-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
}

.awards-list li, .certifications-list li, .trainings-list li {
    background-color: #2e2e2e;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.awards-list h3, .certifications-list h3, .trainings-list h3 {
    font-size: 22px;
    color: #00ffee;
}

.awards-list p, .certifications-list p, .trainings-list p {
    font-size: 16px;
    color: #ffffff;
    margin-top: 5px;
}


.short-courses-section {
    padding: 50px 20px;
    text-align: center;
}



.short-courses-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
}

.short-courses-list li {
    background-color: #393939;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.short-courses-list h3 {
    font-size: 22px;
    color: #00ffee;
}

.short-courses-list p {
    font-size: 16px;
    color: #ffffff;
    margin-top: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
   
}
.degrees-section {
    padding: 50px 20px;
    text-align: center;
}



.degrees-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
}

.degrees-list li {
    background-color: #3a3a3a;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.degrees-list h3 {
    font-size: 22px;
    color: #00ffee;
}

.degrees-list p {
    font-size: 16px;
    color: #ffffff;
    margin-top: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
   
}


.footer {
    background-color: #303030;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 16px;
}
















@media (max-width: 768px) {
    .menu-icon {
        display: block; 
    }
    section{
        min-height: 550px;
    }
    section h1{
        font-size: 45px;
    }
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: white;
        padding: 20px;
        gap: 0px;
    }

    nav ul.active {
        display: flex; 
        background-color: black; 
        top: 51px;
    }
    
    nav ul li {
        margin-bottom: 0px;
    }


    .profile-container {
        flex-direction: column;
        text-align: center; 
    }

    .profile-details {
        margin-right: 0;
        margin-bottom: 20px; 
        align-items: center; 
    }

    .profile-image img {
        width: 35vw;
        height: auto;
        margin-bottom: 20px; 
    }

    .profile-details h1 {
        font-size: 7vw;
    }

    .profile-details p {
        font-size: 4vw;
    }
    .profile-buttons a {
        font-size: 19px;
    }
    .social-links a{
        
        padding: 5px;
        font-size: 20px;
    }
    .hard-skills ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1rem;
        margin-top: 30px;
    }
    
    .soft-skills ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1rem;
        margin-top: 30px;
        
    
    }
    .soft-skills ul li{
        min-width: 45vw;
        padding: 20px;
        font-size: 3vw;
    
    
    }
    .hard-skills ul li{
        min-width: 45vw;
        padding: 20px;
        font-size: 3vw;

    
    
    }
    .soft-skills h2{
        margin-top: 56px;
    
    
    }
    .projects-container {
        grid-template-columns: 1fr; 
    }

    .project {
        height: auto;
    }

    .project-img img {
        height: 180px; 
    }
    .video-container iframe {
        height: 300px;
    }
    .achievements-section {
        padding: 30px 10px;
    }

    .awards-list li, .certifications-list li, .trainings-list li {
        padding: 15px;
    }

    .awards-list h3, .certifications-list h3, .trainings-list h3 {
        font-size: 20px;
    }

    .awards-list p, .certifications-list p, .trainings-list p {
        font-size: 14px;
    }
    .degrees-section {
        padding: 30px 10px;
    }

    .degrees-list li {
        padding: 15px;
    }

    .degrees-list h3 {
        font-size: 20px;
    }

    .degrees-list p {
        font-size: 14px;
    }
    .short-courses-section {
        padding: 30px 10px;
    }

    .short-courses-list li {
        padding: 15px;
    }

    .short-courses-list h3 {
        font-size: 20px;
    }

    .short-courses-list p {
        font-size: 14px;
    }
}
